[Desktop Entry]
Encoding=UTF-8
Name=Create Virtual Host
Comment=Create Virtual Host
Exec=sudo python /home/daniel/Software/CreateVirtualHost/GUI-CreateVirtualHost.py
Icon=/home/daniel/Software/CreateVirtualHost/GUI-CreateVirtualHost.png
Version=1.0
Terminal=true
Type=Application
